.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('imgs/Engagment.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

body{
background-image: url('imgs/background.svg');
background-size:contain ;
font-family: 'Old Standard TT', serif;
}
/* .navbar-toggler-icon{
    background-color:rgb(176,146,105) !important ;
    border: black;
    border-radius: 5px;
} */
div.transbox {
    padding-top: 30px;
    
    background-color: #ffffff;
       opacity: 0.7;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
  .navbar, .page-footer{
      background-color: black;
    
  }
  .navbar .nav-link, .page-footer{
  
    color:rgb(176,146,105) !important;
}
.navbar .navbar-brand{
  
    color:rgb(176,146,105) !important;
}
