.masthead {
    height: 100vh;
    min-height: 500px;
    background: url('imgs/Engagment.jpg') no-repeat 0 0 ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .rsvp-button{
    position: relative;
    top: -39%;
    z-index: 100;
    background-color: black;
    color: #cc984e;
  }
  .rsvp-button:hover{
    background-color: black;
    opacity: .75 ;
    color: #cc984e;
  }
  .masthead2 {
    height: 100vh;
    min-height: 500px;
    background: url('imgs/mcclintock.jpg') no-repeat 0 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
.center-text{
  text-align: center;
}
.list-group-item{
 background-color: #a31919;
    color: white;
}
body{
/* background-image: url('imgs/background.svg'); */

background-color: gainsboro;
font-family: 'Old Standard TT', serif;
}
@media (max-width: 768px){
  .rsvp-button{
   
    top: -44%;
    
  }
  .registry-desktop{
    display: none;
  }
  .registry-mobile{
   display: block;
 }
  .masthead {
    height: 100vh;
    min-height: 500px;
    background: url('imgs/Engagment-mobile.jpg') no-repeat 0 0 ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .brides-side{
  margin-top: 50px;
  }
  .stores{
  margin-top: 30px;

  }
}
@media (min-width: 768px){

 .registry-desktop{
   display: block;
 }
 .registry-mobile{
  display: none;
}
  .grooms-side{
    border-right: 1px solid;
  }
  
}
/* .navbar-toggler-icon{
    background-color:rgb(176,146,105) !important ;
    border: black;
    border-radius: 5px;
} */

.content{
  background-color: gainsboro;
}
div.transbox {
    padding-top: 30px;
    
    background-color: #ffffff;
       opacity: 0.7;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
  .navbar, .page-footer{
      background-color: black;
    
  }
  .navbar .nav-link, .page-footer{
  
    color:#cc984e !important;
}
.page-footer a{
  
  color:#cc984e  !important;
  text-decoration: underline;
}
.navbar .navbar-brand{
  
    color:#cc984e  !important;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
  border:0;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.modal-footer{
  border:0;
}
#image-gallery .modal-header{
  border:0;
}
#image-gallery img {
  image-orientation: from-image;
}
.wedding-party img{
  border-radius: 50%;
  height:150px;
  width:150px;
}

.wedding-party li{
  background-color: gainsboro;
}
